.alert-nest-emergency {
  background-color: #e63117;
  border-color: #e63227;
  color: #fff;
  text-transform: uppercase;
}

.alert-nest-emergency {
  background-color: #fbcd36;
  border-color: #fbcd36;
  color: #333;
  text-transform: uppercase;
}

// TODO: implement this
.alert-nest-all-good {}
