footer.footer {
  margin-top: 50px;
  background-color: $navbar-default-bg;
  .container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;

    p.text-muted {
      font-size: $font-size-small;
    }
  }
}

