%div.col-md-3
  = render :partial => "grid_cell", locals: { service: slice[0] }
%div.col-md-3
  = render :partial => "grid_cell", locals: { service: slice[1] }
%div.col-md-3
  = render :partial => "grid_cell", locals: { service: slice[2] }
%div.col-md-3
  = render :partial => "grid_cell", locals: { service: slice[3] }
