%h1.text-center My Nest

.row#nest-interface
  .col-md-4#left-side
    - @interface.structures.each do |structure|
      - decorated = structure.decorate
      = render :partial => "user_services/nest/structure",
        locals: { structure: decorated }

  .col-md-8#right-side
    - @dec = @interface.decorate
    .well#viewing-area
      .h3.device-name
        = @dec.first_device.name


= render :partial => "user_services/nest/js_vars"
