%ul.nav.nav-tabs.nav-stacked
  = render :partial => "devise/menu/registration_items"
  = render :partial => "devise/menu/login_items"
  %br
  %li{ role: 'presentation' }
    %a{ href: '#' } Overview
  %li{ role: 'presentation' }
    %a{ href: '#' } Add a Service
  %li{ role: 'presentation' }
    %a{ href: '#' } My Services

