%ul.nav.nav-tabs.nav-stacked
  %li{ role: 'presentation' }
    %a{ href: '#' } Overview
  %li{ role: 'presentation' }
    %a{ href: '#' } Add a Service
  %li{ role: 'presentation' }
    %a{ href: '#' } My Services

