#viewing-area {
  h3 {
    margin-top: 0;
  }

  .leaf {
    float: right;
    height: 24px;
  }

  .current-target {
    text-align: center;
    margin: auto;
    font-size: 72px;
    font-weight: 100;
  }
}
