%footer.footer
  .container-fluid
    .col-md-4
      %p.attribution.text-muted
        Icons made by
        %a{ href: 'http://www.flaticon.com/authors/freepik', title: 'Freepik' }
          Freepik
        from
        %a{ href: 'http://www.flaticon.com', title: 'Flaticon'}
          www.flaticon.com
        %br
        %a{ href: 'http://www.flaticon.com', title: 'Flaticon'}
          Flaticon
        is licensed by
        %a{href: 'http://creativecommons.org/licenses/by/3.0/', title: 'Creative Commons BY 3.0' }
          CC BY 3.0
    .col-md-4
      .col-md-4
